*{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif
}

.root{
    --gradiente-start:rgba(4 ,9, 30, .3);
    --gradiente-end:rgba(4 ,9, 30, .9);
}

body{
    width: 100%;
    height: 90vmin;
    color: black;
    background-color: rgb(0, 0, 0);
}

.imagem_viajante{
    background-image:linear-gradient(#130e0ea4, #38383d2d),
    url(Img/imagem\ 1.jpg);
    width: 100%;
    height: 90vmin;
    border-radius: 0 0 15% 15%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo{
    width: 40%;
    align-items: center;
    display: flex;
    float: left;
}

main{
    margin: 10px 2% 5%;
    width: 90%;
}

.inicio{
    margin: 20px 0 10px ;
    align-items: center;
 }

.lugares_recomendados{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container-card{
    display: flex;
    gap: 50px;
    /* @media screen {      
    } */
}

.box{
    display: flex;
    align-items: center;
    padding: 16px;
    gap: 10px;
    width: 25%;
    border-radius: 20px;
    background-color: #fcd404;
    color: black;
 }

.imagem_turistica{
    width: 100px;
    height: 80px;
    display: flex;
    flex-direction:center;
    text-align: center;
    border-radius: 10px;
 }

.dicas{
    display: flex;
    gap: 100px;
    margin-top: 80px;
    align-items: center;
    justify-content: center;
}

.item{
    width: 604px;
    height: 559px;
}

.img1{
    background-image: linear-gradient(#130e0e57, #38383d1c),
    url(Img/dicas.png);
    background-repeat: no-repeat;
    border-radius: 22px;
    border: 3px solid #fcd404;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    gap: 24px;
    align-items: center;
}

.img2{
    background-image: linear-gradient(#130e0e57, #38383d1c),
    url(Img/hotel.png);
    background-repeat: no-repeat;
    border-radius: 22px;
    border: 3px solid #fcd404;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    gap: 24px;
    align-items: center;
}

button{
    padding: 8px, 16px, 8px, 16px;
    width: 178px;
    height: 48px;
    margin-bottom: 45px;
    border-radius: 8px;
    background-color: #ffff;
}

.reviews{
    margin: 90px 0px;
}

.opinioes_container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    gap: 50px;
}

.opiniao{
    padding: 10px 20px;
    background-color: #fcd404;
    border-radius: 10px;
    flex-direction: column;
    height: auto;
}

.opiniao_1 p{
    margin-top: 30px;
}

.opiniao_2 p{
    margin-top: 30px;
}

.opiniao_3 p{
    margin-top: 30px;
}

.imagem_opiniao1{
    margin-top: 20px;
    background-image: linear-gradient(#130e0e57, #38383d1c);
    background-repeat: no-repeat;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    width: 100%;
    height: 76%;
}

.imagem_opiniao2{
    margin-top: 20px;
    background-image: linear-gradient(#130e0e57, #38383d1c);
    background-repeat: no-repeat;
    border: 1px solid rgb(0, 0, 0);
    justify-content: end;
    border-radius: 10px;
    width: 100%;
    height: 76%;
}

.imagem_opiniao3{
    margin-top: 20px;
    background-image: linear-gradient(#130e0e57, #38383d1c);
    background-repeat: no-repeat;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    width: 100%;
    height: 76%;
}